.weather-app {
  max-width: 800px;
  margin: 20px auto;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.background-heading {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/022/388/original/cloudbanner.jpeg?1639079834);
  background-size: cover;
  background-position-x: center;
  padding: 30px;
  margin: 0;
  max-height: 300px;
}
.city-header {
  padding: 20px;
  font-weight: 700;
  font-size: 20px;
  color: white;
}
.city-header:hover {
  cursor: pointer;
}
.input-group {
  padding: 20px;
}

.parent {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}
.child-current {
  text-align: center;
}
.child-next {
  line-height: 30px;
  text-align: center;
  margin-top: 10px;
}
#search-input {
  margin: auto;
  margin-bottom: 5px;
  height: 40px;
  width: 100%;
  padding: 0.375 rem 0.75 rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2 px solid #ced4da;
  border-radius: 8px;
}
.current-location {
  border-radius: 5px;

  margin-top: 10px;

  position: relative;
  top: -48px;
  left: 185px;
  padding-top: 6px;
  padding-left: 12px;
}
.form-control {
  border-radius: 5px;
}

.city {
  font-size: 50px;
  font-weight: 500;
  color: #1a6ec5;
}
.date {
  font-size: 20px;
  font-weight: 300;
  color: #1a6ec5;
}

.description {
  text-transform: capitalize;
}
.temperature {
  font-size: 70px;
  font-weight: bold;
  color: #1a6ec5;
}

.description {
  font-size: 20px;
  font-weight: 300;
  color: #1a6ec5;
}
.units {
  position: relative;
  top: -34px;
  font-weight: lighter;
  text-decoration: none;
}
.units .active {
  text-decoration: none;
  cursor: default;
  font-weight: bold;
}
.units .active .hover {
  text-decoration: none;
}
.high-low {
  font-size: 15px;
  font-weight: 300;
  color: #1a6ec5;
}
.wind {
  font-size: 15px;
  font-weight: 300;
  color: #1a6ec5;
}
.feelslike {
  font-size: 15px;
  font-weight: 300;
  color: #1a6ec5;
}
footer {
  margin-top: 90px;
  font-size: 15px;
}

.icon {
  position: relative;
  top: -24px;
}
.forecast-day {
  font-size: 15px;
  font-weight: 500;
  color: #1a6ec5;
  text-align: center;
}
.forecast-temp-max {
  color: #1a6ec5;
  font-weight: bold;
}
.forecast-temp-min {
  color: #1a6ec5;
  font-weight: 200;
}
.button-flex {
  display: flex;
  justify-content: center;
}
@media (max-width: 576px) {
  .current-location {
    position: relative;
    top: -48px;
    left: 80px;
  }
  .search-button {
    padding: 6px 35px;
  }
  .city-header {
    font-size: 12px;
  }
}
